body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #fff;
}
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.header-page {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-page .logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding: 24px 0;
  margin-right: 76px;
}

.header-page .logo-span {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.page-nav {
  display: flex;
  align-items: center;
  gap: 40px;
}
.page-nav .link {
  display: flex;
  padding: 24px 0;
  font-weight: 500;
  color: #2e2f42;
}

.page-nav .link:hover,
.page-nav .link:focus {
  font-weight: 500;
  color: #404bbf;
}
.page-nav .link:active {
  font-weight: 500;
  color: #404bbf;
}

.nav-adress {
  font-style: normal;
  margin-left: auto;
}

.adress-items {
  display: flex;
  gap: 40px;
  margin-left: auto;
}

.nav-adress .link {
  color: #434455;
}
.nav-adress .link:hover,
.nav-adress .link:focus {
  color: #404bbf;
}
.nav-adress .link:active {
  color: #404bbf;
}

.section {
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-first {
  display: flex;
  align-items: center;
  padding-top: 188px;
  padding-bottom: 188px;
  background-color: #2e2f42;
}

.section-first .title {
  max-width: 496px;
  margin: 0 auto 48px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  background-color: #2e2f42;
}
.button-first {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  margin: 0 auto;
  border-radius: 4px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
}
.button-first:hover,
.button-first:focus {
  background-color: #404bbf;
}

.button-first:active {
  background-color: #404bbf;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-second .title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.priority-list {
  display: flex;
  gap: 24px;
}

.priority-item {
  width: calc((100% - 3 * 24px) / 4);
}

.section-third {
  background-color: #f4f4fd;
}
.section-third .title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  width: calc((100% - 3 * 24px) / 4);
  background-color: #fff;
}

.team-item:first-child {
  border-radius: 0 0 4px 4px;
}

.team-div {
  display: block;
  padding: 32px 0 32px;
}

.section-third .title-img {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.team-text {
  text-align: center;
}

.section-fourth .title {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  width: calc((100% - 2 * 24px) / 3);
}

.portfolio-div {
  display: block;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
  width: 360px;
  height: 120px;
}

.section-fourth .portfolio-img {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.footer-page {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-page .logo {
  display: inline-block;
  margin-bottom: 16px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.footer-page .logo-span {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.footer-page .text {
  color: #f4f4fd;
  width: 264px;
}
